.navigation{
  background-color: $black;
  padding-left: 33px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: absolute;
  top: -400px;
  transition: all .25s ease-in-out;
  width: 100%;
  z-index: 1;
  @include respond-to(large) {
    background-color: rgba(0,0,0,.35);
    height: $nav-height;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    top: 0;
  }
}
.navigation--open{
  transform: translate3d(0,400px,0);
}
.naviagtion__toggle{
  border: 0;
  background: $black;
  color: $white;
  padding: 5px 5px 5px 0;
  font-size: units(16px);
  cursor: pointer;
  @include respond-to(large) {
    display: none;
  }
}
.navigation__list{
  list-style: none;
  margin: 0;
  padding: 0;
  @include respond-to(large) {
    display: inline-block;
  }
  a{
    color: $white;
    display: inline-block;
    line-height: $nav-height;
    letter-spacing: 3px;
    @include respond-to(large) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
.navigation__list-item{
  @include respond-to(large) {
    display: table-cell;
  }
}
.navigation__list-item--search{
  display: none;
  @include respond-to(large) {
    display: table-cell;
  }
}
