.searchform{
  input{
    display: none;
  }
  button{
    background-color: $black;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: 0;
    cursor: pointer;
    height: 16px;
    text-indent: -99999px;
    width: 16px;
  }
}
.searchform--mobile{
  position: absolute;
  right: 34px;
  top: 15px;
}
